@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-flow: column;
}

button {
    width: 80px;
    padding: 10px;
    background-color: #2F92D4;
    color: white;
    border: none;
    border-radius: 20px;
}

li {
    list-style: none;
}

.side-bar {
    background-color: #2F92D4;
    color: white;
    min-height: 100vh;
    padding: 40px;
}

.side-bar > nav menu{
    display: grid;
    gap: 20px
}

.side-bar .menu-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.side-bar .menu-item > *:hover {
    cursor: pointer;
}

.side-bar .dashboard,
.side-bar .communities {
    padding-bottom: 40px;
}

header {
    padding: 20px 40px;
    box-shadow: 0px 0px 10px rgba(125, 125, 125, 0.5);
    margin-bottom: 20px;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .search-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

header .search-area > .search-field {
    width: 80%;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #E2E8F0;
}

header .notification-and-profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header .welcome-msg-area {
    display: flex;
    align-items: center;
    gap: 20px;
}

.welcome-msg-area .avatar {
    width: 50px;
    height: 50px;
}

header .actions {
    display: flex;
    gap: 20px;
}

.content-area {
    display: grid;
    grid-auto-flow: column;
}

main {
    margin: 20px;
}

main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.card {
    width: 400px;
    padding: 20px;
    border-left: solid 10px #F0B429;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(125, 125, 125, 0.5);
}

.card > div:first-child {
    margin-bottom: 30px;
}

.card p.description {
    color: #757575;
}

.card > div:last-child {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.more .announcement-card,
.more .trending-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(125, 125, 125, 0.5);
}

.trending-card > .profile {
    display: flex;
    align-items: center;
    gap: 20px;
}